<div class="container-fluid">
    <div class="row">
        <div class="well padding" [ngClass]="needMatch ? 'col-sm-6 center-box' : 'col-sm-6 left-side'">
                <div class="container-fluid">
            <form (ngSubmit)="onSubmit(matchForm)" #matchForm="ngForm">
                <div class="row">
                    <span class="col-sm-12 head-line">
                        Search for stores:
                    </span>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="image">Store Image</label>
                        <!-- <input type="text" placeholder="" id="image" class="form-control" name="image" ngModel> -->
                        <input type="file" name="image" accept="image/*" id="file-input" multiple ngModel>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="store">Store Name</label>
                        <input type="text" placeholder="Store name" id="store" class="form-control" name="store" ngModel>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <label for="location">GEO Location - Lattitude</label>
                        <input class="location-input" type="text" placeholder="Lattitude" id="locationLat" class="form-control" name="locationLat" ngModel>
                    </div>
                    <div class="col-sm-12 form-group">
                        <label for="location">GEO Location - Longitude</label>
                        <input class="location-input" type="text" placeholder="Longitude" id="locationLong" class="form-control" name="locationLong" ngModel>
                    </div>
                </div>
                <button class="btn btn-warning pull-right" type="submit" [disabled]="!matchForm.valid">SEARCH STORES</button>
            </form>
            </div>
            </div>
        <div class="col-sm-12 well col-sm-6 text-center" *ngIf="loading">
            <img class="custom-spinner" src="../../../assets/loading_apple.gif" alt="">
            <h3>Searching for stores...</h3>
        </div>
        <div class="col-sm-12 well col-md-5" *ngIf="!loading && matchesFound">
            <div class="col-sm-12">
                <div class="flexRow">
                    <div class="flex">
                        <ul class="list-group">
                            <div class="col-xs-12 list-item">
                                <div class="data-container">

                                    <div class="data some-padding">
                                        <div class="row">
                                            <span class="col-sm-12 head-line">
                                                Percentage match - {{ matchedItem.match }} %
                                            </span>
                                        </div>
                                        <div class="row" *ngFor="let outlet of matchedItem.outlets; let i = index">
                                            <div class="col-sm-6">
                                                <h6 class="custom-label">Store name</h6>
                                                <p class="custom-label-result">{{ outlet.name }}</p>
                                            </div>
                                            <div class="col-sm-6">
                                                <h6 class="custom-label">GEO Location</h6>
                                                <p class="custom-label-result">{{ outlet.latitude + " , "+ outlet.longitude }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>